@model Mediar.ViewModels.AlbumDetailsViewModel

@using System.Security.Claims

@{
    var role = User.FindFirst(ClaimTypes.Role)?.Value;
}

<style>


    .album-cover-img {
        width: 370px;
        height: 370px;
        object-fit: cover;
        border-radius: 22px;
        flex-shrink: 0;
    }

    .album-page-container {
        width: 60vw;
    }

    .album-details {
        display: flex;
        --background-color: rgba(0, 0, 0, 0.404);
        --padding: 20px;
        border-radius: 12px;
        margin-bottom: 20px;
        margin-top: 80px;
    }

    .album-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .album-info-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    .album-details-title {
        font-family: "JetBrainsMono", Arial, sans-serif;
        font-size: 60px;
        color: var(--color-primary);
    }

    .album-details-description {
        font-family: "JetBrainsMono", Arial, sans-serif;
        font-size: 32px;
        color: var(--color-text);
        opacity: 90%;
        margin: 0;
        padding: 0;
    }

    .album-details-date {
        font-family: "JetBrainsMono", Arial, sans-serif;
        font-size: 26px;
        color: var(--color-primary);
        opacity: 70%;
    }

    #editAlbumForm {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.295);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        justify-content: center;
        align-items: center;
        top: 0;
    }

    #editAlbumForm.active {
        display: flex;
    }

    #createMediaForm {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.295);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        justify-content: center;
        align-items: center;
        top: 0;
    }

    #createMediaForm.active {
        display: flex;
    }

    .media-container {
        column-count: 3;
        column-gap: 22px;
        width: 100%;
    }
</style>

<div class="center-container">
    <div class="album-page-container">
        <div class="album-details">
            <img src="@Model.Album.CoverImageUrl" class="album-cover-img" />

            <div style="display: flex; justify-content: space-between;
                        width: 100%; margin-top: 20px; margin-bottom: 20px; margin-left: 40px; margin-right: 0px;">

                <div class="album-info">
                    <span class="album-details-title">@Model.Album.Name</span>

                    <div class="album-info-content">
                        <p class="album-details-description">@Model.Album.Description</p>
                        <span class="album-details-date">
                            @Model.Album.DateCreated?.ToString("d")
                        </span>
                    </div>
                </div>
                
                <div class="action-button-container" style="--height: 140px;">
                    @{
                        if (role == "admin" || role == "delete" || role == "edit") {
                            <button onclick="toggleEditForm()" class="edit-button">
                                <img src="/icons/edit-btn.png" style="width: 40px;" />
                            </button>
                        }
                    }
                    
                    @{
                        if (role == "admin" || role == "delete") {
                            <form asp-action="Delete" class="delete-button" asp-route-id="@Model.Album.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this album? This action cannot be undone!');">
                                <button type="submit" class="delete-button">
                                    <img src="/icons/trash-btn.png" style="width: 40px;" />
                                </button>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="album-media-container">
            <div style="margin-bottom: 12px; margin-top: 65px;">
                <span class="section-title" style="font-size: 42px;">Media</span>

                @{
                    if (role == "admin" || role == "delete" || role == "edit") {
                        <button onclick="toggleCreateMediaForm()" class="create-button">
                            <img src="/icons/add-btn.png" />
                        </button>
                    }
                }
            </div>

            <div class="media-container">
                @foreach (var media in Model.Media)
                {
                    @await Html.PartialAsync("_Media", media)
                }
            </div>
        </div>
    </div>
</div>

<div id="editAlbumForm">
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="form-background">
        @Html.AntiForgeryToken()

        <button type="button" class="form-close-button" onclick="toggleEditForm()">
            <img src="/icons/add-btn.png" class="close-btn-icon" />
        </button>

        <div>
            <label class="form-field-label">Name</label><br />
            <input type="text" class="form-text-input" name="Name" value="@Model.Album.Name" required />
        </div>

        <div>
            <label class="form-field-label">Description</label><br />
            <textarea class="form-textarea-input" name="Description">@Model.Album.Description</textarea>
        </div>

        <div>
            <label class="form-field-label">Cover Image</label><br />
            <input type="file" class="form-file-input" name="CoverImage" accept="image/*" />
        </div>

        <input hidden type="number" name="Id" value="@Model.Album.Id" />

        <br />
        <button type="submit" class="form-button">Save</button>
    </form>
</div>


<div id="createMediaForm">
    <form asp-action="Create" method="post" enctype="multipart/form-data" class="form-background">
        @Html.AntiForgeryToken()

        <button type="button" class="form-close-button" onclick="toggleCreateMediaForm()">
            <img src="/icons/add-btn.png" class="close-btn-icon" />
        </button>

        <div>
            <label class="form-field-label">Media File</label><br />
            <input type="file" class="form-file-input" name="MediaImage" accept="image/*" required />
        </div>

        <input type="hidden" name="AlbumId" value="@Model.Album.Id" />

        <br />
        <button type="submit" class="form-button">Save</button>
    </form>
</div>


<script>
    function toggleEditForm() {
        document
            .getElementById("editAlbumForm")
            .classList.toggle("active");
    }

    function toggleCreateMediaForm() {
        document
            .getElementById("createMediaForm")
            .classList.toggle("active");
    }
</script>